@model List<LibrairieEnLigne.Models.Livre>
@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Librairie en Ligne</h1>
    <p class="lead">
        Librairie en Ligne est une application ASP.NET MVC 5 utilisant HTML, CSS et JavaScript.
        <br/>
        Elle simule un site de vente de livres en ligne.
    </p>
</div>

<div class="row">
    @foreach (var livre in Model)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="jumbotron">
                <h2>@livre.Titre</h2>
                <h3>@livre.Auteur.Nom</h3>
                <h3>@livre.Prix €</h3>
                <p>@livre.Description</p>
            </div>
        </div>
    }
</div>